LSFJOB_*
*~
crab_0_*
*.root
*.pyc
__init__.py
multicrab.cfg
multicrab_*??????_??????
multicrab_*??????_??????.*
crab_?_??????_??????
Skimming
.python
*.png
*.eps
*.ps
*.orig
*.html
fjr*.xml
HeavyChHiggsToTauNu/CVS
HeavyChHiggsToTauNu/data