LSFJOB_*
*~
crab_0_*
*.root
*.pyc
__init__.py
multicrab.cfg
multicrab_*??????_??????
multicrab_*??????_??????.t*
crab_?_??????_??????
embedding_??????_??????
embedding_*_??????_??????
Skimming
.python
*.png
*.eps
*.ps
*.orig
*.html
fjr*.xml
*.tar.gz
*.tgz
CVS
HeavyChHiggsToTauNu/CVS
HeavyChHiggsToTauNu/data
*_C.d
*_C.so
configDump*.py
typescript
*_backup
stefan*
datacards_??????_??????_*
*.bak
CombinedLimit
.gitmodules
