# Data card generator config
# Note that a command has to be on a single line

# Description of data card
description = "fully_hadronic"

# Mass points to generate
#masspoint = 80
#masspoint = 100
masspoint = 120
#masspoint = 140
#masspoint = 150
#masspoint = 155
#masspoint = 160

# Luminosity in fb-1
luminosity = 1.10

# Path and name of root file containing shapes
shapeSource="example.root"

# Path and name of counter histogram
#counterHisto="SignalAnalysisCounters/weighted/counter"
#counterHisto="SignalAnalysisCounters/weighted/counter"
# Path and name of config info histogram (needed for providing xsection)
configInfoHisto="configInfo/configinfo"

# Observation - add data 
observation = { channel=1, function="Counter", counterHisto="signalAnalysisCounters/weighted/counter", counter="btagging", filePath="/opt/data/Signal_v2_h425" files={"Tau_160431-161176_May10", "Tau_161119-161119_May10_Wed", "Tau_161217-163261_May10", "Tau_163270-163869_May10", "Tau_165088-165633_Prompt", "Tau_165103-165103_Prompt_Wed", "Tau_165970-166164_Prompt", "Tau_166346-166346_Prompt", "Tau_166374-167043_Prompt", "Tau_167078-167784_Prompt", "Tau_167786-167913_Prompt_Wed"} }


# Options for functions
# Counter: specify counter to extract value from, example: function="Counter", counterHisto="", counterName=""
# Constant: constant number, example: function="Constant", value=0
# Ratio:
# ScaleFactor:

# Rates
rate = { id="signal", function="Counter", counterHisto="signalAnalysisCounters/weighted/counter", counter="btagging" }
rate = { id="T2", function="Counter", counterHisto="signalAnalysisCounters/weighted/counter", counter="nonQCDType2:btagging" }
rate = { id="none", function="Constant", value=0 }
rate = { id="QCD", function="Constant", value=7.5 }
rate = { id="Type1", function="Constant", value=71.2 }

# Nuisance parameters
nuisance = { id="1", distribution="lnN", description="tau+MET trg scale factor", function="ScaleFactor", counterHisto="signalAnalysisCounters/weighted/counter", histogram="signalAnalysis/Trigger/TriggerScaleFactorUncertainty" }
nuisance = { id="2", distribution="lnN", description="tau+MET trg efficiency", function="Constant", value=0.096 }
nuisance = { id="3", distribution="lnN", description="tau-jet ID", function="Constant", value=0.07 }
nuisance = { id="9", distribution="lnN", description="lepton veto", function="Ratio", counterHisto="signalAnalysisCounters/weighted/counter", nominatorCounter="muon veto", denominatorCounter="MET", scale=0.02 }
nuisance = { id="10", distribution="lnN", description="btagging", function="ScaleFactor", counterHisto="signalAnalysisCounters/weighted/counter", histogram="signalAnalysis/Btagging/BTagUncertainty" }
nuisance = { id="11", distribution="lnN", description="mis-btagging", function="ScaleFactor", counterHisto="signalAnalysisCounters/weighted/counter", histogram="signalAnalysis/Btagging/BTagUncertainty" }
# QCD syst.
nuisance = { id="13", distribution="lnN", description="QCD syst.", function="Constant", value=0.071 }
# Type 1 syst.
nuisance = { id="14", distribution="lnN", description="Type 1 stat.", function="Constant", value=0.068 }
nuisance = { id="15", distribution="lnN", description="Type 1 W->tau->mu", function="Constant", value=0.007 }
nuisance = { id="16", distribution="lnN", description="Type 1 muon selection", function="Constant", value=0.006 }
# MC statistics
nuisance = { id="17", distribution="lnN", description="HH MC stat.", function="Counter", counterHisto="signalAnalysisCounters/weighted/counter", counter="btagging" }
nuisance = { id="18", distribution="lnN", description="HW MC stat.", function="Counter", counterHisto="signalAnalysisCounters/weighted/counter", counter="btagging" }
nuisance = { id="21", distribution="lnN", description="tt->jjtau MC stat.", function="Counter", counterHisto="signalAnalysisCounters/weighted/counter", counter="nonQCDType2:btagging" }
nuisance = { id="24", distribution="lnN", description="W+jets MC stat.", function="Counter", counterHisto="signalAnalysisCounters/weighted/counter", counter="nonQCDType2:btagging" }
# Cross sections
nuisance = { id="27", distribution="lnN", description="ttbar cross section", function="Constant", value=0.2 }
nuisance = { id="28", distribution="lnN", description="W+jets cross section", function="Constant", value=0.05 }
nuisance = { id="29", distribution="lnN", description="single top cross section", function="Constant", value=0.08 }
nuisance = { id="30", distribution="lnN", description="Z->ll cross section", function="Constant", value=0.04 }
nuisance = { id="31", distribution="lnN", description="diboson cross section", function="Constant", value=0.04 }
# Luminosity
nuisance = { id="32", distribution="lnN", description="luminosity", function="Constant", value=0.06 }

# Columns (i.e. data groups); define these as the last part of config
# For all masses put a negative mass value
#column = { process=-1, mass={100}, label="HH100", rate="signal", nuisance={"1","3","9","18"}, files={""} }
column = { channel=1, process=-1, mass={120}, label="HH120", rate="signal", nuisances={"1","3","9","10","17","27","32"}, files={"/opt/data/Signal_v2_h425/TTToHplusBHminusB_M120_Summer11"} }
column = { channel=1, process=0, mass={120}, label="HW120", rate="signal", nuisances={"1","3","9","10","18","27","32"}, files={"/opt/data/Signal_v2_h425/TTToHplusBWB_M120_Summer11"} }
column = { channel=1, process=1, mass={-1}, label="T2_tt", rate="T2", nuisances={"1","3","9","10","21","27","32"}, files={"/opt/data/Signal_v2_h425/TTJets_TuneZ2_Summer11"} }
column = { channel=1, process=2, mass={-1},  label="res.",  rate="none"}
column = { channel=1, process=3, mass={-1},  label="QCD",  rate="QCD", nuisances={"13"} }
column = { channel=1, process=4, mass={-1},  label="Type1",  rate="Type1", nuisances={"2","3","14","15","16"} }
column = { channel=1, process=5, mass={-1}, label="T2_Wjet", rate="T2", nuisances={"1","3","9","11","24","28","32"}, files={"/opt/data/Signal_v2_h425/TTJets_TuneZ2_Summer11"} }